:root {
	--media-label-size: 38px;
}

#body #text-wrap {
	text-align: center;
}

@media screen and (min-height: 200px) {
	#video-area {
		width: calc(100vh / 9 * 16);
		height: 100vh;
	}

	#media-label {
		display: none;
	}

	#body #image-wrap {
		display: none;
	}
}

@media screen and (max-height: 201px) {
	#video-area {
		width: 100vh;
		min-width: 72px;
		height: 100vh;
		min-height: 72px;
	}

	#media-label {
		margin-left: calc(10vh + 10px);
		top: calc((10vh - var(--media-label-size)) / 2);
		right: auto;
		bottom: auto;
		height: 10vh;
		z-index: 10000;
	}

	#alertbox #wrap {
		height: 100%;
		min-height: 72px;
		padding: 0;
		justify-content: center;
	}

	#body.layout-above #wrap,
	#body.layout-side #wrap {
		background-color: rgba(0, 0, 0, 0.5);
	}

	#body.layout-banner #alert-image {
		background-size: cover;
	}

	#body.layout-above #image-wrap {
		display: none;
	}

	#body.layout-side #image-wrap {
		width: 100vh;
		min-width: 72px;
	}

	#body:not([class]) #alertbox #wrap {
		display: none;
	}

	#body #alert-text {
		padding: 0;
	}
}
