:root {
  /*
    영상 전용 알림 기능 사용자에 한해
    하단 텍스트를 없애려면 아래 값을 0px로 설정하세요
  */
  --label-size: 0px;
}

#body #text-wrap {
  text-align: center;
}

@media screen and (min-height: 200px) {
  #video-area {
    width: calc((100vh - var(--label-size)) / 9 * 16);
    height: calc((100vh - var(--label-size)));
  }
  
  #wrap {
    display: flex;
    justify-content: center;
  }

  #media-label {
        width: calc((100vh - var(--label-size)) / 9 * 16) !important;
        right: unset;
  }

  #body #image-wrap {
    display: none !important;
  }
}

@media screen and (max-height: 201px) {
  #video-area {
    width: 100vh;
    min-width: 72px;
    height: 100vh;
    min-height: 72px;
  }

  #media-label {
    width: calc(100% - 100vh) !important;
    height: 100vh;
    top: calc((100vh - var(--label-size)) / 2);
    right: 0;
  }

  #alertbox #wrap {
    height: 100%;
    min-height: 72px;
    padding: 0;
    justify-content: center;
  }

  #body.layout-above #wrap,
  #body.layout-side #wrap {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #body.layout-banner #alert-image {
    background-size: cover;
  }

  #body.layout-above #image-wrap {
    display: none;
  }

  #body.layout-side #image-wrap {
    width: 100vh;
    min-width: 72px;
  }

  #body:not([class]) #alertbox #wrap {
    display: none;
  }

  #body #alert-text {
    padding: 0;
  }
}
