#alertbox {
	height: auto;
}

#video-area {
	height: 90vh;
	width: 160vh;
	max-width: 100%;
}

#body.layout-above #media-label {
	top: 90vh;
	right: unset;
	width: 158vh;
	margin-left: 1vh;
	margin-right: 1vh;
	
	font-size: 5vh;
}

#media-label-loading,
#body.layout-above #image-wrap {
	display: none;
}

#body.layout-above #text-wrap {
	background: rgba(0, 0, 0, 0.5);	/* 배경 색 */
}

#alert-text {
	padding: 0;
}

#body.layout-above h1 {
	padding-top: 0.5%;	/* 알림 코멘트의 상단 여백 */
}

#body.layout-above h2 {
	padding-bottom: 0.5%;	/* 알림 코멘트의 하단 여백 */
}

#body.layout-above h1.hide,
#body.layout-above h1.hide + h2 {
	padding: 0;
}
